#main-body-content{
	width:1200px;
	margin: 0 auto;
}
#main-body-content #picture-region{
	width: 950px;
	height: 605px;
	float: left;
	text-align:center; 
	vertical-align:middle;  
	display: table-cell;
	margin-top:55px;
}
#main-body-content #picture-region .picture-box{
	width: 950px;
	height: 605px;
	text-align:center; 
	vertical-align:middle;  
	display: table-cell;
	margin: 0 auto;
	overflow: hidden;
}
#main-body-content #picture-region .picture-box .picture-details{
	max-width: 950px;
	max-height: 605px;
	margin: 0 auto;
}



#main-body-content .picture-info{
	width: 220px;
	height: 605px;
	background: rgba(155,155,155,.1);
	float: left;
	margin:55px 0 0 30px;
	color: #fff;
}
#main-body-content .picture-info .picture-title{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
#main-body-content .picture-info .pictire-name{
	margin: 10px 0;
	height: 50px;
}






